*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.chat {
    position: fixed;
    background-color: white;
    padding: 20px;
    color: black;
    display: flex;
    z-index: 999;
    margin-left: 1275px;
    margin-top: 648px;
}

.c837a6_ab7a0e38c4a449b89fe5bd7ee599dc3b {
    color: black;
    
}
.right {
    display: flex;
    gap: 7px;
}
.left{
    margin-left: 800px;
    text-decoration: none;
    display: flex;
    gap: 50px;

}
a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px ;
}

.lft {
display: inline;
text-decoration: none;
}

.ateam {
    color: white;
    transition: 0.5s;
}

.ateam:hover {
    color: rgb(214, 139, 26)
}

.ateam1:hover {
    color: rgb(214, 139, 26)
}
      

body{
    background-color: rgb(13, 12, 17);
    color: white;
}

.firstsection {
    padding: 50px;
}

header{
    position: fixed;
    font-family: 'Exo 2', sans-serif;
}



.bck{
    width: 100%;
    
}


li{
    display: flex;
    gap: 10px;
}


ul{
    background-color: transparent;
}



nav{
    margin-top: 20px;
    background-color: transparent;
    display: flex;
    gap: 20px;
}
#logo1{
    margin-top: 8px;
    margin-left: 50px;
}
#logo2{
    color: azure;
    font-family: 'Exo 2', sans-serif;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#logo3{
    margin-top: 20px;
    color: aliceblue;
    
}
                                                     /* next */

.firsth1 {
    text-align: center;
    font-size: 60px;
    display: block;
}

.firstp {
    text-align: center;
    margin-top: 20px;
}

.form1{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
}

.input1 {
    width: 300px;
    height: 35px;
    background-color: rgb(13, 12, 17);
    color: white;
    border: 0.8px solid rgb(255, 255, 255);
}

.input1:hover {
    cursor: pointer;
    border: 1px solid white;
}

.input2 {
    width: 300px;
    height: 35px;
    background-color: rgb(13, 12, 17);
    color: white;
    border: 0.8px solid rgb(255, 255, 255);
}
.input2:hover {
    cursor: pointer;
    border: 1px solid white;
}

.input3 {
    width: 300px;
    height: 35px;
    background-color: rgb(13, 12, 17);
    color: white;
    border: 0.8px solid rgb(255, 255, 255);
}

.input3:hover {
    cursor: pointer;
    border: 1px solid white;
}

.party-size{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Date {
    display: flex;
    flex-direction: column;
    gap: 10px;}

.Time{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr {
    width: 63%;
    margin-left: 275px;
}

.secondp {
    margin-left: 250px;
    margin-top: 40px;
}


table{
    margin-left: 275px;
    margin-top: 50px;
}

.Closed {
    padding: 8px;
    width: 175px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.Opened {
    padding: 8px;
    width: 175px;
    margin: 5px;
    background-color: rgb(13, 12, 17);
    border: 1px solid rgb(255, 255, 255);
    color: white;

}


.Opened:hover {
    cursor: pointer;
}

.Opened:focus{
    background-color: rgba(214, 139, 26, 0.1);
    border-color: rgb(214, 139, 26);
}

.fourthbtn{
    background-color: rgb(214, 139, 26);
    color: black;
    transition: 0.5s;
    margin-top: 28px;
    margin-bottom: 2px;
    margin-left: 670px;
    padding: 13px 40px 13px 40px;
}

.fourthbtn:hover{
    background-color: black;
    color: rgb(214, 139, 26);
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(214, 139, 26);
}

.eightimg {
    height: 400px;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
}

.nav-2{
    display: flex;
    gap: 5px;
}

.nav-3 {
    display: flex;
    flex-direction: column;
    
}

.a1 {
    font-size: 30px;
}

.a2 {
    margin-top: 15px;
}

.fourthh3 {
    margin-bottom: 25px;
    font-size: 30px;
}

.seventhp {
    padding-bottom: 10px;
}

.eightp {
    padding-bottom: 30px;
}


.fifthh3 {
    padding-bottom: 10px;
}

.iconsdiv {
    display: flex;
    gap: 10px;
}

.form2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input4 {
    width: 350px;
    height: 35px;
    background-color: rgb(13, 12, 17);
    color: white;
    border: 0.8px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}

.btnsubscribe {
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.btnsubscribe:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.footerdiv4 {
    display: flex;
    flex-direction: column;
}

.sixthh3 {
    font-size: 24px;
    padding-bottom: 20PX;
}

.seventhh3 {
    font-size: 24px;
    padding-bottom: 20px;
}

.lastdivs1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.lastdivs2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerdiv3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hr3{
    margin-top: 100px;
}
#a3 {
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 45px;
}

th{
     margin-left: 40px;
}
